	body{
		background: #f1f0d1;
		font-family: Verdana, Tahoma, Ariel, San-serif;
		font-size: 18px;
		overflow: auto;
	}
	h1,h2,h3{
		padding: 5%;
		text-align: center;
		color: #878E63;
	}
	p{
		padding: 2%;
		color: #878E63;
	}
	img{
		text-align: center;
		max-width: 100%;
		height: auto;
		width: auto;
	}
	#wrapper{
		margin: 0 auto;
		max-width: 100%;
		width: 98%;
		background: #FEFBE8;
	}